@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Pacifico&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  html,
  body {
    max-height: 100vh;
  }

  body {
    display: flex;
    place-items: center;
    max-height: 100vh;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    padding: 0 2rem;
    max-height: 100vh;
  }
}
